@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background: none !important;
    border: 3px solid white;
    color: white !important;
}


@media only screen and (max-width: 1023px){
    .active{
        color: grey !important;
    }
}